[submodule "frontend"]
	path = frontend
	url = git@github.com:PainScaler/ui.git
[submodule "docs"]
	path = docs
	url = git@github.com:PainScaler/docs.git
[submodule "deploy"]
	path = deploy
	url = git@github.com:PainScaler/deploy.git
